<!DOCTYPE html>
<html>
<head>
  <title>Money Rotation</title>
  <link rel="shortcut icon" href="favicon.ico?v=2" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "outside", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="<%= controller.controller_name %>_<%= controller.action_name %>">
      
      <% unless notice.blank? %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= notice %>
        </div>
      <% end %>
      
      <% unless alert.blank? %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= alert %>
        </div>
      <% end %>
                   
      <%= yield %>
    </div>
  </div>  
</body>
</html>
