<!DOCTYPE html>
<html>
<head>
  <title>Money Rotation</title>
  <link rel="shortcut icon" href="favicon.ico?v=2" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "interface", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "interface" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
